@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-geist-mono: 'Oswald', sans-serif;
}

@theme {
  --color-primary: #00d5cd;
  --color-foreground: #f8f8f8;
  --color-muted-foreground: #86909b;
  --color-background: #0b121a;
  --color-card: #141b24;
  --color-border: #273442;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-mono);
  /*font-family: Arial, Helvetica, sans-serif;*/
}
